/* body {
    background-color: black;
}

.navbar .navbar-brand {
    color: lightgray;
}

.nav-link:hover {
    color: darkgray;
}

.nav-link {
    color: lightgray;
}

section {
    padding-top: 6%;
}

img {
    width: 100%;
}

h1 {
    color: gray;
    padding: 3% 0px;
    text-align: center;
}

p {
    color: gray;
}

#contact {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

form {
    padding-bottom: 15%;
}

.form-spacing {
    padding-bottom: 2%;
    padding-top: 1%;
}

.contact-info-label {
    background-color: black;
    color: gray;
}

.contact-info {
    background-color: gray;
    border-color: navy;
}

.contact-info::placeholder {
    color: navy;
  }

.contact-info:focus {
    background-color: lightgray;
}

.submit-button {
    background-color: darkgray;
    color: navy;
} */