*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    padding-left: 20;
}


html {
    box-sizing: border-box;
    font-size: 62.5%;  /* Make font-size 10px; 1rem=10px */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 50;
}

header {
    background-color: white;
    position: relative;
    padding: 1rem;
}

img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}

h1 {
    text-align: center;
    font-weight: 600;
    letter-spacing: 5px;
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
    font-weight: normal;
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 0%;
    
}
.upper-text{
    margin-left: 5%;
    margin-right: 41% ;
    margin-top: 2%;
}

.lower-text-1{
    margin-left: 25%;
    margin-right: 41% ;
    margin-top: 2%;
    display: inline-block;
}

.about-img-left{
    margin-right: 0%;
    margin-left: 5%;
    margin-top: 2%;
    width: 200px;
    height: 400px;
    object-fit: contain;
    display: inline-block;
    
}

.about-img-right{
    margin-right: 40%;
    margin-left: 5%;
    margin-top: 2%;
    width: 200px;
    height: 400px;
    object-fit: contain;
    
}

li {
    padding-right: 2rem;
    padding-left: 2rem;
    text-decoration: none;
}

hr {
    width: 80%;
    margin-left: 10%;
    margin-right: 30%;
    margin-bottom: 2rem;
    margin-top: 2rem;
    height: 4px;
    background-color: #070707;
}

hero {
    width: 1080px;
    height: 50em;
    background-image: url(./assets/earl-wilcox-y3W0CzO063w-unsplash-alt.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.logo-vase {
    width: 30px;
}

.hero-background {
    width: 100%;
}

.about-section {
    font-size: 1rem;
    width: 1080px;
}

.hr2 {
    width: 50%;
    margin-right: 25%;
    margin-left: 5%;
    margin-top: 1%;
}

.about-image-left {
    float: right;
}

.card {
    max-width: 25rem;
}

.card-image {
    max-height: 150px;
    padding-bottom: 20rem;
}

.header-image {
    height: 3rem;
    box-sizing: unset;
    padding-right: 4px;
}


.magnifying-glass {
    height: 1.5rem;
    position: absolute;
    right: .4rem;
    top: .8rem;
}

.search-bar {
    position: absolute;
    right: 8rem;
}

.nav-a {
    color: #070707;
    text-decoration: none;
    width: 100%;
}

.nav-b {
    position: absolute;
    right: 1rem;
    text-decoration: none;
    font-size: 2rem;
    padding-bottom: 20;
}

.nav {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    width: 100%;
    text-decoration: none;
}

.nav-each {
    display: inline-flex;
    font-size: 2rem;
    padding: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    list-style-type: none;

    /* width: 40vw; */
}