html {
    box-sizing: border-box;
    font-size: 62.5%; /* Make font-size 10px; 1rem=10px */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    letter-spacing: 50;    
}



.nav-li {
    width: 100%;
}

.magnifying-glass {
    height: 1.5rem;
    position: absolute;
    right: .4rem;
    top: .8rem;
}

.search-bar {
    position: absolute;
    right: 8rem;
}

.nav-each {
    display: inline-flex;
    font-size: 2rem;
    padding: 2rem;
    padding: 1rem;
    padding-left: 1rem;
    list-style-type: none;
    width: 40vw;
}

.nav-a {
    color: #070707;
    text-decoration: none;
    width: 100%;
}

.nav-b {
    position: absolute;
    right:1rem;
}

.nav {
    position: absolute;
    top: 0.7rem;
    left: 1rem;
    width: 100%;
}